run = "node server.js"
entrypoint = "server.js"
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-22_11"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[languages.javascript.languageServer]
start = ["typescript-language-server", "--stdio"]

[deployment]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "cloudrun" 